# special function are used to perform some important task
- lambda function
- zip function
- Map
- reduce
- filter

- Zip function :- is an aggregator, meaning it aggregate two or more iterable or sequence, the zip function stop whenver the shortest of the variable is exhausted

In [3]:
l1=[1,2,3,4]
l2=[6,7,8,9]
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9)]

In [4]:
l1=[1,2,3,4,5,6]
l2=[6,7,8,9]
list(zip(l1,l2))

[(1, 6), (2, 7), (3, 8), (4, 9)]

In [6]:
l3={'firstname':'shivam','age':'24'}
l4={'Lastname':'garg','mob':'34343'}
list(zip(l3,l4))

[('firstname', 'Lastname'), ('age', 'mob')]

In [9]:
#unpacking of lists
{**l3,**l4}

{'firstname': 'shivam', 'age': '24', 'Lastname': 'garg', 'mob': '34343'}

## Lambda Function - it is inline function, it can make 3 - 4 line code of function into one function
- syntax = lamba parameter:expression
- e.g sqrt_of_a = lambda a:a**2

In [10]:
sqrt_of_a = lambda a:a**2
print(sqrt_of_a(10))

100

In [1]:
add1=lambda a,b:a+b
print(add1(10,23))

33

# Map Fucntion - Map function takes a function and sequence as its arguments, it return iterator on function which the function is applied
- map function can take one function and iterable object

In [3]:
def multi(a):
    return a**3

#function create
number=[1,2,3,4,5]
ans=map(multi,number)# here we can store one function and one iterable list
print(list(ans))

[1, 8, 27, 64, 125]

In [4]:
l1=[2,3,4,56]
l2=map(lambda a:a**2,l1)
print(list(l2))

[4, 9, 16, 3136]

# Filter Function - 
- this function is used to filter the data with some iterable data
- syntax :- filter(funciton_name,iterable)
- in which only those values can store which output having true return

In [6]:
def isEven(a):
    if(a%2==0):
        return True
    else:
        return False

l3=[1,2,3,4,5,6,7,8]
l4=filter(isEven,l3)
print(list(l4))

[2, 4, 6, 8]

# Reduce Function:-
- this function is used to apply a repatedly accumulate data a single value
- in which first value is added to second value, then sum is added to chird value, and so on until the some of all value are not done
- reduce function can be import from functools package

In [10]:
def add(a,b):
    return (a+b)
l1=[1,2,3,4,5]
from functools import reduce
l2=reduce(add,l1)
print(l2)

15

# Eval - evaluate the expression
- method parse the epression, passed to this methods and run python expression within a code